{
  "DISCORD_TOKEN": "YOUR_DISCORD_BOT_TOKEN",
  "DISCORD_CHANNEL_ID": "YOUR_DISCORD_CHANNEL_ID",
  "CLIENT_ID": "YOUR_BOT_CLIENT_ID",
  "GUILD_ID": "YOUR_GUILD_ID",
  "ROUND_ROBIN_TICK_MS": 750,
  "BACKOFF_MS": 10000,
  "OWNER_ID": "YOUR_DISCORD_USER_ID"
}
