{
  "collections": {
    "y00ts": {
      "max_price": 3.5,
      "min_rarity": "Legendary"
    },
    "mad_lads": {
      "max_price": 50
    }
  },
  "sales_collections": {
    "mad_lads": {
      "max_price": 60,
      "min_rarity": "Rare"
    }
  }
}
